<section class="main-column-narrow">
	<h2 class="heading-2 text-blue">FAQs</h2>
    <p class="intro-text">To help you make an informed decision, we’ve put together a list of FAQs. Dive in and explore!</p>
	
	<div class="faq">
		<h2 class="faq-question">
            <button aria-expanded="false">How do your low-residency programs work?
                <svg viewBox="0 0 10 10" aria-hidden="true" focusable="false" height="20" width="20">
                    <rect class="vert" height="8" width="2" y="1" x="4"  />
                    <rect height="2" width="8" y="4" x="1"/>
                </svg>
            </button>
		</h2>
		<div class="faq-answer" hidden>
		    <p>Students and faculty gather on campus or at designated locations for a residency in the summer, and both fall and spring semesters involve focused, small classes via distance learning. The low-residency is designed so that students attend classes and participate in on-campus events for 7 to 9 days each July for almost all programs.</p>
		</div>	
	</div>	
  
  	<div class="faq-separator"></div>
  
  	<div class="faq">
		<h2 class="faq-question">
            <button aria-expanded="false">Where can I stay during the residency?
                <svg viewBox="0 0 10 10" aria-hidden="true" focusable="false" height="20" width="20">
                    <rect class="vert" height="8" width="2" y="1" x="4" />
                    <rect height="2" width="8" y="4" x="1" />
                </svg>
            </button>
		</h2>
		<div class="faq-answer" hidden>
		    <p>Students have the option of staying on-campus in one of the residential halls for an affordable on-campus lodging fee, or off-campus in a nearby hotel or Airbnb. Students who reside in the area can also commute to and from campus. Meals are provided in the dining hall. The campus also offers a variety of amenities including a gym, swimming pool, and hiking trail. The campus is also an easy walk to restaurants, shops, grocery stores, and movie theaters.</p>
		</div>
  	</div>
  
  	<div class="faq-separator"></div>
  
  	<div class="faq">
		<h2 class="faq-question">
            <button aria-expanded="false">How long will it take to get my degree?
                <svg viewBox="0 0 10 10" aria-hidden="true" focusable="false" height="20" width="20">
                    <rect class="vert" height="8" width="2" y="1" x="4" />
                    <rect height="2" width="8" y="4" x="1" />
                </svg>
            </button>
		</h2>
		<div class="faq-answer" hidden>
		    <p>Most students will get their degree in 2-3 years while also working full time.</p>
		</div>
  	</div>
  
  	<div class="faq-separator"></div>
  
  	<div class="faq">
		<h2 class="faq-question">
            <button aria-expanded="false">Who are the faculty and how large are the individual classes?
                <svg viewBox="0 0 10 10" aria-hidden="true" focusable="false" height="20" width="20">
                    <rect class="vert" height="8" width="2" y="1" x="4" />
                    <rect height="2" width="8" y="4" x="1" />
                </svg>
            </button>
		</h2>
		<div class="faq-answer" hidden>
		    <p>The maximum number of students in a class is 12, but most have 6-8 students. This provides a favorable student-to-faculty ratio, ensuring that each student receives personalized attention from their instructor. The faculty are well-respected experts and practitioners in their field and bring a wealth of real-world experience to the program. As active professionals, they can provide current and practical knowledge to their students. The small class sizes and online hybrid option allow for a close and supportive learning environment.</p>
		</div>
  	</div>
  
	<div class="faq-separator"></div>
  
  	<div class="faq">
		<h2 class="faq-question">
            <button aria-expanded="false">
                How much does the program cost and is there any financial aid?
                <svg viewBox="0 0 10 10" aria-hidden="true" focusable="false" height="20" width="20">
                    <rect class="vert" height="8" width="2" y="1" x="4" />
                    <rect height="2" width="8" y="4" x="1" />
                </svg>
            </button>
		</h2>
		<div class="faq-answer" hidden>
		    <p>Please see our <a href="https://www.goucher.edu/become/paying-for-goucher/?utm_source=oho&utm_medium=landingpage">Tuition &amp; Financial Aid page</a>. Goucher students are eligible to apply for federal student loans, outside grants, and scholarships.</p>
		</div>
  	</div>
  
	<div class="faq-separator"></div>
  
  	<div class="faq">
		<h2 class="faq-question">
            <button aria-expanded="false">
                What qualifications do I need for a master’s degree program and how do I apply?
                <svg viewBox="0 0 10 10" aria-hidden="true" focusable="false" height="20" width="20">
                    <rect class="vert" height="8" width="2" y="1" x="4" />
                    <rect height="2" width="8" y="4" x="1" />
                </svg>
            </button>
		</h2>
		<div class="faq-answer" hidden>
		    <p>Admission to individual programs may vary. Generally, admission is granted to applicants whose academic and professional qualifications give promise of success in self-directed graduate study. The applicant must hold a bachelor’s degree from an accredited college or university. Students who are citizens of or in residence in other countries must have the ability to function successfully in English. For complete information on the application procedure, please visit <a href="https://gradprograms.goucher.edu/apply?utm_source=oho&utm_medium=landingpage">our application page</a>.</p>
		</div>
  	</div>
  
	<div class="faq-separator"></div>
  
  	<div class="faq">
		<h2 class="faq-question">
            <button aria-expanded="false">Do I need to take the GRE to apply?
                <svg viewBox="0 0 10 10" aria-hidden="true" focusable="false" height="20" width="20">
                    <rect class="vert" height="8" width="2" y="1" x="4" />
                    <rect height="2" width="8" y="4" x="1" />
                </svg>
            </button>
		</h2>
		<div class="faq-answer" hidden>
		    <p>None of our programs require the GRE.</p>
		</div> 
  	</div>
</section>  