<!-- Footer -->
    <footer>
        <div class="footer-bg">
        
            <a class="logo" href="https://www.goucher.edu">
                <img src="../assets/images/footer-logo.svg" alt="" width="300" height="106"/>
                <span class="sr-only">Goucher College</span>
            </a>
        
            <p class="fs-xsm text-white">
                1021 Dulaney Valley Road,Baltimore, MD 21204<br />
                410.337.6000  |  admissions@goucher.edu
            </p>
            
            <div class="social-media-icons">
                
                    <!-- <li> -->
                        <a class="social-icon" href="https://www.facebook.com/gouchercollege" aria-label="Goucher on Facebook" target="_blank">
                            <span class="icon-facebook" aria-hidden="true"></span>
                        </a>
                    <!-- </li> -->
                    <!-- <li> -->
                        <a class="social-icon" href="https://twitter.com/gouchercollege" aria-label="Goucher on Twitter" target="_blank">
                            <span class="icon-x" aria-hidden="true"></span>
                        </a>
                    <!-- </li> -->
                    <!-- <li> -->
                        <a class="social-icon" href="https://www.instagram.com/gouchercollege/" aria-label="Goucher on Instagram" target="_blank">
                            <span class="icon-instagram" aria-hidden="true"></span>
                        </a>
                    <!-- </li> -->
                    <!-- <li> -->
                        <a class="social-icon" href="https://www.youtube.com/gouchercollege" aria-label="Goucher on YouTube" target="_blank">
                            <span class="icon-youtube" aria-hidden="true"></span>
                        </a>
                    <!-- </li> -->
                    <!-- <li> -->
                        <a class="social-icon" href="https://www.tiktok.com/@visitgoucher" aria-label="Goucher on TikTok" target="_blank">
                            <span class="icon-tiktok" aria-hidden="true"></span>
                        </a>
                    <!-- </li> -->
                    <!-- <li> -->
                        <a class="social-icon" href="/social-media/snapchat" aria-label="Goucher on Snapchat">
                            <span class="icon-snapchat" aria-hidden="true"></span>
                        </a>
                    <!-- </li> -->
                    <!-- <li> -->
                        <a class="social-icon" href="https://www.flickr.com/photos/goucher/" aria-label="Goucher on Flickr" target="_blank">
                            <span class="icon-flickr3" aria-hidden="true"></span>
                        </a>
                    <!-- </li> -->
                    <!-- <li> -->
                        <a class="social-icon" href="https://www.linkedin.com/school/goucher-college/" aria-label="Goucher on LinkedIn" target="_blank">
                            <span class="icon-linkedin2" aria-hidden="true"></span>
                        </a>
                    <!-- </li> -->
                </ul>
            </div>
        </div>
    </footer> 
    <!-- END Footer -->

    <div class="copyright bg-blue">
        <p class="text-white">Copyright © 2024 Goucher College. All Rights Reserved.</p>
    </div>