<header>
    <div class="logo">
        <a href="https://www.goucher.edu?utm_source=oho&utm_medium=landingpage">
            <img src="/assets/images/header-logo.svg" alt="" width="500" height="37" />
            <h1 class="sr-only">Graduate and Professional Studies at Goucher College</h1>
        </a>
    </div>
</header>