<header>
    <div class="logo">
        <a href="https://www.goucher.edu?utm_source=oho&utm_medium=landingpage">
            <img src="/assets/images/Goucher-College-Global-Changemakers-logo-stacked-blue.png" alt="" width="350" height="96" />
            <span class="sr-only">Goucher College homepage</span>
        </a>
    </div>
</header>