
<section class="hero bg-grey">
    <div class="hero-bg">
        <div class="title-container">
            <h1 class="title">
                <span class="ff-ntb fs-lrg ml-lrg lh-sm text-white">The Courage to</span>							
                <span class="ff-ndt fs-lrg ml-sm lh-sm text-white">Pursue Your</span>							
                <span class="ff-ndt fs-xxlrg ml-xlrg lh-md text-white">Purpose.</span>
                <span class="ff-ntb fs-lrg ml-md lh-sm text-white">The Confidence to</span>	
                <span class="ff-ndt fs-xxlrg ml-sm lh-md text-white">Do More.</span>	
            </h1>
        </div>
    </div>
</section>