<section class="main-column-wide opportunities">
	<div class="intro">
		<h2 class="heading-2 text-blue">Expand your perspective and opportunities with a master's degree</h2>
        <p class="intro-text">Goucher College’s graduate programs promise to connect your passion with your purpose. A master’s degree gives you a new perspective on your life, career, and community. So, you’ll be empowered to make meaningful contributions to your field and the world while you advance your professional life.</p>
	</div>
	<div class="detail-container">
		<div class="detail-item">
			<img class="detail-icon" src="/assets/images/icon-global.svg" width="300" height="96" alt="" aria-hidden="true"/>
			<h3 class="heading-3 text-teal">Global Impact</h3>
			<p>Tackle global issues with Goucher’s cross-disciplinary programs. Gain a broad perspective and find innovative solutions to impact positive change.</p>
		</div>
		<div class="detail-item">
			<img class="detail-icon" src="/assets/images/icon-rocket.svg" width="300" height="96" alt="" aria-hidden="true"/>
			<h3 class="heading-3 text-teal">Career Advancement</h3>
			<p>Engage in hands-on experiences and opportunities for networking and leadership development.</p>
		</div>
		<div class="detail-item">
			<img class="detail-icon" src="/assets/images/icon-connection.svg" width="300" height="96" alt="" aria-hidden="true"/>
			<h3 class="heading-3 text-teal">Build Connections</h3>
			<p>Share your values and passions with a supportive community of students and faculty that builds lasting relationships.</p>
		</div>
		<div class="detail-item">
			<img class="detail-icon" src="/assets/images/icon-puzzle.svg" width="300" height="96" alt="" aria-hidden="true"/>
			<h3 class="heading-3 text-teal">Flexibility</h3>
			<p>Learn your way with hybrid and online options that allow you to earn a degree in a format that fits your life and goals,</p>
		</div>
	</div>
</section>