<div class="main-column-wide options bg-blue">
	<div class="intro">
		<h2 class="heading-2 text-white">Earn your degree in a format that fits your life</h2>
        <p class="intro-text text-white">For 25 years, Goucher College has been at the forefront of online education. We believe in the power of education. Flexible online and hybrid options are available to help you balance your education with your life. You’ll be connected to a supportive community that shares your values and passions.</p>
	</div>
	<div class="detail-container">
		<div class="detail-item">
			<img class="detail-icon" src="/assets/images/icon-campus.svg" width="275" height="96" alt="" aria-hidden="true"/>
			<h3 class="heading-3 text-white">On Campus</h3>
			<p class="text-white">Enhance your education through participation in in-person discussions and hands-on learning experiences.</p>
		</div>
		<div class="detail-item">
			<img class="detail-icon" src="/assets/images/icon-computer.svg" width="275" height="96" alt="" aria-hidden="true"/>
			<h3 class="heading-3 text-white">Online</h3>
			<p class="text-white">Experience the convenience of online learning with Goucher College’s engaging and interactive classes facilitated by the latest technology.</p>
		</div>
		<div class="detail-item">
			<img class="detail-icon" src="/assets/images/icon-hybrid.svg" width="275" height="96" alt="" aria-hidden="true"/>
			<h3 class="heading-3 text-white">Hybrid</h3>
			<p class="text-white">Connect with the Goucher Community with our 7 to 9-day on-campus residency each July for almost all graduate school programs. You’ll have the best of both worlds with online and in-person education.</p>
		</div>
		<div class="detail-item">
			<img class="detail-icon" src="/assets/images/icon-certificate.svg" width="275" height="96" alt="" aria-hidden="true"/>
			<h3 class="heading-3 text-white">Certificates</h3>
			<p class="text-white">Advance your career and build new skills with Goucher College’s flexible and accessible certificate programs designed for busy professionals.</p>
		</div>
	</div>
</div>