<section class="program-selection bg-blue">
    <h2 class="heading-2 text-white">Master's degrees designed to meet your needs</h2>
    <p class="intro-text text-white">Whether you’re looking to start your career, change direction, or take your skills to the next level, Goucher’s Graduate Programs can help you achieve your goals. Explore our graduate programs and all they have to offer:</p>

    <select id="program-select">
        <option value="maaa" selected="selected">M.A. Arts Administration</option>
        <option value="maapa">M.A. Applied Policy Analysis</option>
        <option value="macs">M.A. Cultural Sustainability</option>
        <option value="madc">M.A. Digital Communication</option>
        <option value="maes">M.A. Environmental Sustainability &amp; Management</option>
        <option value="mahp">M.A. Historic Preservation</option>
        <option value="mat">M.A. in Teaching</option>
        <option value="med">Master of Education</option>		
        <option value="mfan">M.F.A. Nonfiction</option>				
    </select>

</section>
