<section class="purpose">
	<div class="title-container">
		<h2 class="title">
			<span class="ff-ndt purpose-text-lrg text-blue">Purpose. Impact.</span>				
			<span class="ff-ntb purpose-text-sm text-grey">And the opportunity to</span>
			<span class="ff-ndt purpose-text-md text-blue">make a difference.</span>
		</h2>
	</div>
	<img class="purpose-image" src="/assets/images/smiling-student.png" width="500" height="507" alt="" />
</section>