<section class="main-column-narrow bg-yellow" id="request-info">
    <h2 class="heading-2 text-blue">A Master’s Degree is within your reach!</h2>
    <p class="intro-text">If you’re ready to take the next step in your education and career, then we’re ready for you. Provide us with a little information to help get you started.</p>
    <div id="form_8fa752da-9cba-48a8-831d-60f765d05fe1">Loading...</div>
</section>