<section class="main-column-narrow bg-yellow">
    <h2 class="heading-2 text-blue">Now is the time to get that master's degree!</h2>
    <p class="intro-text">Take the next step in your education and career. Complete the form today and learn more about the opportunities available at Goucher College.</p>
    <div id="form_0b3ac651-bc12-4873-a380-d2e1463a6838">Loading...</div>
</section>