<section class="main-column-wide thank-you bg-grey">
    <div class="thank-you-text">
        <h2 class="text-white">Thank you!</h2>
        <p class="text-white">Thank you for your interest in the {{ thanks.name }} program! Be on the lookout for an email from us in your inbox. If you have any questions, please contact us at <a class="special" href="mailto:graduateprograms@goucher.edu">graduateprograms@goucher.edu</a>.</p>
        <div class="button-wrapper">
            <a class="button" href="{{ thanks.url }}">Apply Now!</a>
            <a class="button" href="https://gradstudies.goucher.edu/">Back to home</a>
        </div>
    </div>
    <div class="thank-you-image">
        <picture>
            <source srcset="/assets/images/{{ thanks.image }}.webp" type="image/webp" media="(max-width: 767px)"/>
            <source srcset="/assets/images/{{ thanks.image }}-md.jpg" type="image/jpeg" media="(min-width: 768px)"/>
            <img src="/assets/images/{{ thanks.image }}.jpg" alt="">
        </picture>
    </div>
</section>



