<section class="main-column-narrow bg-blue">
    <h2 class="heading-2 text-white">Persue your puropse</h2>
    <p class="intro-text  text-white">Whether you’re looking to start your career, change direction, or take your skills to the next level, Goucher’s Graduate Programs can help you achieve your goals.
    </p>
 
    <video controls class="grad-video" poster="/assets/images/grad-page-video-overlay.jpg">
        <source src="/assets/video/graduate-programs-general.mp4" type="video/mp4" />
    </video>
</section>