<section class="main-column-narrow">
    <h2 class="heading-2 text-blue">Join a webinar</h2>
    <p class="intro-text">Goucher's Graduate Programs host on-campus graduate school fairs and webinars throughout the year. Join us to learn about how our flexible programs can help you get the training you need to advance your career! Click the link below to sign up for information sessions, webinars, or one-on-one meetings with our advisors where you can discuss your specific needs. 
    </p>
    <div>
        <a class="button" href="https://gradprograms.goucher.edu/portal/events-web?utm_source=oho&utm_medium=landingpage">Find an event</a>
    </div>
</section>