---
pagination:
    data: programs
    size: 1
    alias: program
permalink: "/{{ program.acronym | slugify }}/"
title: Graduate and Professional Studies at Goucher College
layout: base.njk
---

{% include 'hero.njk' %}
{% include 'slate-form-1.njk' %}
{% include 'program-selection.njk' %}

{%- for program in programs -%}
    {% include 'program.njk'%}
{%- endfor -%}

{% include 'program-opportunities.njk' %}
{% include 'program-options.njk' %}
{% include 'purpose-impact.njk' %}
{% include 'degree-links.njk' %}
{% include 'faq.njk' %}
{% include 'slate-form-2.njk' %}


        
